body {
	font-family: Arial, sans-serif;
	font-size: 30px;
	background-color: #ed9fca;
	margin: 0;
}

main {
	display: flex;	
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 75;
}

.info img {
	width: 100%;
	border-radius: 20px;
	flex-grow: 1;
}


.info h2 
{
	text-align: center;
}

.info p {
	margin-left: 10px;
}

.info {
	background-color: rgba(236, 230, 237, 0.5);
	color: #5e4c61;
	padding: 7px;
	margin: 20px;
	border-radius: 20px;
	max-width: 450px;
	height: auto;
	overflow: auto;
	border: 2px solid #99789e;
	box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.2);
}

li {
	list-style-type: none;
}

li::before {
	color: #60676e;
	content: "✧ ";
}

table {
	padding: auto;
	border-color: #56325c;
	text-align: center;
	border-collapse: collapse;
}

caption {
	text-align: bottom;
}

th, td {
	border: solid 1px;
}

#link-beginning {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

footer {
    text-align: center;
	background-color: rgba(236, 230, 237, 0.5);
	flex-shrink: 0; 
	padding: 20px;
}

a {
	color: #5e4c61;
	text-decoration: none;
	font-weight: bold;
}
